header {
    text-align: center;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    background-image: url('Images/chicrimeheader.jpg');
    background-size: contain;
    background-position: center;
  }

  body {
    font-family: "Arial", sans-serif;
  }

  .sourcecode {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: scroll;
}

  
  